.image_nosotros{
    width: 70%;
    margin-left: 160px;
    margin-top: 40px;
    margin-block: 40px;
}

.card-img-overlay{
    background-color: rgba(42, 42, 42, 0.757);
    width: 25%;
    margin-left: 100px;
    margin-top: 40px;
    margin-block: 100px;

}
.card-title{
    color: white;
    font-size: 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

.card-text-parrafo{
    color: white;
    font-size: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
