.slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}
.slider__title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 4rem;
	color: #fff;
	text-transform: uppercase;
	padding: 0 4rem;
	z-index: 100;
	text-shadow: 0 0 0.5rem rgb(9, 9, 34);
}
.slider__content,
.slider__content--item {
	width: 100%;
	height: 100vh;
	position: relative;
}

.slider__content--item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-description {
	position: absolute;
	bottom: 5rem;
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 1rem 4rem;
	background-color: rgba(255, 85, 85, 0.5);
}